.themed-image-oriental-studies {
  color: hsl(0deg 0% 18%);
}

[data-color-scheme='dark'] .themed-image-oriental-studies {
  color: hsl(0deg 0% 100%);
}

.themed-image-univie {
  color: hsl(0deg 0% 0%);
}

[data-color-scheme='dark'] .themed-image-univie {
  color: hsl(0deg 0% 100%);
}

.themed-image-acdh-ch {
  color: hsl(0deg 0% 0%);
}

[data-color-scheme='dark'] .themed-image-acdh-ch {
  color: hsl(0deg 0% 100%);
}

.themed-image-erc {
  color: hsl(345deg 6% 13%);
}

[data-color-scheme='dark'] .themed-image-erc {
  color: hsl(0deg 0% 100%);
}
